<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SiebelReposAnalyser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><userSettings>
        <SiebelReposAnalyser.Properties.Settings>
            <setting name="ConnectHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectEnterprise" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectOM" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectPrePropUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectRemPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectServerType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnReposName" serializeAs="String">
                <value>Siebel Repository</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptCheckFinally" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptCheckDestruction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptCheckForwardBackward" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptCheckNoComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigCheckForceActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptIgnoreInactive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigIgnoreInactive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OfficeStyle" serializeAs="String">
                <value>Office_2013</value>
            </setting>
            <setting name="OfficeStyleIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ThemeColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ThemeIndex" serializeAs="String">
                <value>3</value>
            </setting>
        </SiebelReposAnalyser.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ObjectListView" publicKeyToken="b1c5bf581481bcd4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.33936" newVersion="2.8.1.33936" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
